!!! Strict
%html
  %head
    %title= current_page.data.title || "#{product_name} Help"
    %meta{:content => 'text/html; charset=utf-8', :'http-equiv' => 'Content-Type'}/
    = stylesheet_link_tag 'style'
    = javascript_include_tag  'all'
  %body{:class => "#{current_page.page_group} #{current_page.page_name}"}
    %nav#breadcrumbs
      = partial 'breadcrumbs'
    = yield

-#
  This layout will be used for every page of your helpbook except for Apple’s
  main landing page, i.e., your root-level index.html file. It contains only
  the minimum metadata content required by Apple.

  If you intend to use the help file outside of Apple's help system, you may
  want to modify this layout to include additional metadata.
