%html{:lang => 'en'}
  %head
    %meta{:charset => 'UTF-8'}
    %meta{:name => 'robots', :content => 'index'}
    %meta{:'http-equiv' => 'refresh', :content => "#{hb_redirect_path}" }
    - if current_page.data.blurb
      %meta{:name => 'description', :content => current_page.data.blurb}
    - if current_page.data.keywords
      %meta{:name => 'keywords', :content => current_page.data.keywords.join(', ')}
    %title= current_page.data.title || "#{product_name} Help"
  - classes = ["AppleTopic"]
  - landing = current_page.data.categories && current_page.data.categories.include?('landing')
  - current_page.data.categories.each { |c| classes << c } if current_page.data.categories
  - classes << 'landing' if landing
  - id = current_page.hb_NavId
  %body{:dir => "ltr", :class => classes, :id => id}

    - if landing
      = image_tag "icon_256x256"
      %h1 #{product_name} #{product_version}
    - else
      = image_tag current_page.data.topicIcon || "icon_256x256", :figure_class => 'topicIcon'
      %h1 #{current_page.data.title}
    
    = yield
    
    - if content_for?(:seeAlso)
      .LinkUniversal
        %strong
          See Also
        = yield_content :seeAlso
    
    - if extensions[:Middlemac].options[:show_debug]
      .middlemac-debug
        %h2 Images Available with md_images
        = md_images
        %h2 Links Available with md_links
        = md_links

-#
  This layout will be used for nearly every page of your help book. Apple’s
  scripts will strip out everything from the head, and so everything set here
  is really only useful for indexers and for Apple’s JavaScript to use; they
  won’t appear in the finished document. Note, too, that when a client attempts
  to load this page directly, the browser will be directed to the index page
  instead, which loads this content via AJAX. This is important because the
  Help Indexer will index the page, and the Help Viewer will attempt to load
  the page, and it would be ugly and unstyled if that happened.
