= wrap_layout ((current_page.data['xhtml'] && 'layout-xhtml'.to_sym) || 'layout-html4'.to_sym) do
  .container-logo-medium
    %div
      .yield-content
        ~ yield
        - if current_page.navigator_eligible?
          %hr
          = nav_prev_next

    %div
      %div
        = image_tag '/Resources/shared/icon_256x256.png', :alt => 'logo'
      .related_topics
        = nav_brethren_index

        - if content_for?(:seeAlso)
          %h1 See Also
          = yield_content :seeAlso

-#
  This template is suitable for general pages within a group, as it makes
  navigation between the different pages in the group obvious and easy. It
  features a medium version of your logo on the right, followed by navigation
  to the other pages in the group. Optionally :seeAlso content can follow the
  related pages.

  It will normally use the standard layout-html4 layout which is required for
  all of your help pages except for the main landing page. If you include
  `xhtml: true` in any page’s frontmatter then it will be built using the
  layout-xhtml layout instead. You shouldn’t do so, however.
