---
title: The Toolbar
blurb: This comprehensive toolbar reference will help you dominate your complete
       workflow.
layout: template-logo-medium
order: 8
---
<%= partial 'markdown-links' %>
<%= partial 'markdown-images' %>

<%= current_page.data.title %>
==============================

The default toolbar, below, comes preconfigured for the options that users will
use most. This reference describes the functions of all possible toolbar
buttons.

For a refresher on how to work with the toolbar and customize it, please consult
the [toolbar lesson][docwin-toolbarcustomize].

![default toolbar][all-tbb-defaultset]

* * *

Toolbar Button Descriptions
----------------------------

<div class="image_article" markdown="1">
<div markdown="span">![tidy options button][all-tbb-options]</div>
**Tidy Options Panel**: This toolbar button toggles the visibility of the
**Tidy Options** panel.
</div>


<div class="image_article" markdown="1">
<div markdown="span">![tidy messages button][all-tbb-messages]</div>
**Messages Panel**: This toolbar button toggles the visibility of the
**Tidy Messages** panel.
</div>


<div class="image_article" markdown="1">
<div markdown="span">![orient button][all-tbb-orient]</div>
**Source Orientation**: This toolbar button toggles the visibility of the
**Tidy Messages** panel.
</div>


<div class="image_article" markdown="1">
<div markdown="span">![inline errors button][all-tbb-errorsinline]</div>
**Inline Errors**: This button toggles “red squiggles” in the **Source HTML** 
that indicate the position of detected errors.
</div>


<div class="image_article" markdown="1">
<div markdown="span">![invisible characters button][all-tbb-invisiblechars]</div>
**Invisible Characters**: Pressing this button toggles the visibility of the
invisible characters in the source panels.
</div>


<div class="image_article" markdown="1">
<div markdown="span">![syntax highlighting button][all-tbb-syntaxcolor]</div>
**Syntax Highlighting**: You can toggle the use of syntax highlighting on and
off with this toolbar button.
</div>


<div class="image_article" markdown="1">
<div markdown="span">![editor gutter button][all-tbb-gutter]</div>
**Editor Gutter**: This toolbar button toggles the visibility of the editors’
line number gutter.
</div>


<div class="image_article" markdown="1">
<div markdown="span">![preferences button][all-tbb-prefs]</div>
**Preferences**: This toolbar button opens _<%= product_name %>_’s Preferences
window.
</div>


<div class="image_article" markdown="1">
<div markdown="span">![tutorial button][all-tbb-tutorialb]</div>
**Quick Tutorial**: This toolbar button starts the **Quick Tutorial**.
</div>


<div class="image_article" markdown="1">
<div markdown="span">![space button][all-tbb-space]</div>
**Space**: This toolbar item is a space that you can insert into the toolbar to
help you organize it during customization.
</div>


<div class="image_article" markdown="1">
<div markdown="span">![flexible space button][all-tbb-flexspace]</div>
**Flexible Space**: This toolbar item is a space that you can insert into the 
toolbar to help you organize it during customization.
</div>


<div class="image_article" markdown="1">
<div markdown="span">![print button][all-tbb-print]</div>
**Print**: This toolbar button will open the **Print** dialog for the document.
</div>


<div class="image_article" markdown="1">
<div markdown="span">![help button][all-tbb-help]</div>
**Help**: This toolbar button opens the Help file for _<%= product_name %>_.
</div>
