<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>

<head>
	<title><%= current_page.data.title || "#{cfBundleName} Help" %></title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <%= stylesheet_link_tag "style" %>
    <%= javascript_include_tag  "all" %>
</head>

<body class="<%= page_group %> <%= page_name %>">
<%= yield %>
</body>

</html>
