<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
	<title><%= "#{cfBundleName} Help" %></title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="AppleTitle" content="<%= cfBundleIdentifier %>" />
	<meta name="AppleIcon" content="../shared/icon_32x32@2x.png" />
    <%= stylesheet_link_tag "style" %>
    <%= javascript_include_tag  "all" %>
</head>

<body class="<%= page_group %> <%= page_name %>">
	<div class="container-logo-large">
		<div>
			<div>
				<%= image_tag '/Resources/shared/icon_256x256@2x.png', :alt => "logo" %>
				<h1>Balthisar Tidy Help</h1>
				<a href="http://www.balthisar.com/software/tidy">www.balthisar.com/software/tidy</a>
			</div>
        	<% if content_for?(:seeAlso) %>
			<div class="related_topics">
    			<h1>See Also</h1>
				<%= yield_content :seeAlso %>
			</div>
			<% end %>
		</div>

		<div>
		    <div class="yield-content">
	            <%= yield %>
	        </div>
		</div>
	</div>
</body>
</html>
