---
title: Find Descriptions for Tidy Options
blurb: Learn to understand the purpose and meaning of each Tidy option.
layout: template-logo-medium
order: 2
---
<%= partial 'markdown-links' %>
<%= partial 'markdown-images' %>

<%= current_page.data.title %>
==============================

_<%= product_name %>_ offers a lot of options to correct, diagnose, and pretty-format
your code. Learn how to discover the meaning of each of these options by
following these few steps.

<div class="image_article steps" markdown="1">

<div markdown="span">![tidy options panel][all-docpart-tidyoptions]</div>

1. You can always consult the [Tidy Options Reference Section][tidyoptions] for
   descriptions of all of the Tidy options that _<%= product_name %>_ supports.
   However it’s often more convenient to…

2. Look at option descriptions in any **Tidy Options** panel. Any time you
   select an option, its description will appear at the bottom of this panel.

3. If the description is not visible, it can be revealed with the button at the
   bottom left of the **Tidy Options** panel.

</div>
