---
title: Work with Syntax Highlighting
blurb: Learn how syntax highlighting can make it even easier to work with
       <em>Balthisar Tidy</em>.
layout: template-logo-medium
order: 14
---
<%= partial 'markdown-links' %>
<%= partial 'markdown-images' %>

<%= current_page.data.title %>
==============================

_<%= product_name %>_ has a very configurable display. To toggle syntax
highlighting on and off, follow the steps below.

<div class="steps" markdown="1">

1. Select **Syntax Highlighting** from the **Source Code** submenu of the
   **View** menu.
   ![view menu][all-menu-view-sourcecode]

2. You can also easily toggle the orientation using the **Highlight** button
   on the document window’s toolbar.
   ![view menu][all-docpart-toolbar]

</div>

Discussion
==========

What is syntax highlighting?
----------------------------
Syntax highlighting makes it much easier to understand the source code that you
are editing as well as the Tidy’d code that _<%= product_name %>_ produces.

It works by identifying the different parts of the source and Tidy’d documents
and coloring them according to their function.

Is syntax highlighting part of HTML Tidy now?
---------------------------------------------
No, it’s a function provided exclusively by _<%= product_name %>_ to help you
work better. HTML Tidy’s emphasis is on correcting and pretty-printing source
code for use on servers. _<%= product_name %>_ makes it easier for you to work
on that source code before it reaches the server.

How can I change the colors used for highlighting?
--------------------------------------------------
<% if target_feature?(:feature_supports_themes) %>
Because you’re lucky enough to be a _<%= product_name %>_ user, you have full
control over the colors used for syntax highlighting, as well as other colors
that compose the document editor scheme. Have a look at the
[Colors][prefs-colors] **Preferences** panel.
<% else %>
If you want full control over the colors used for syntax highlighting as well
as colors for other editor items, please consider purchasing
[_Balthisar Tidy for Work_][tidyforwork], which gives you control over these
items as well as the ability to define and use multiple themes.
<% end %>

<% if target_feature?(:feature_supports_themes) %>
Can I export the syntax colored text to a document for my boss?
---------------------------------------------------------------
From time to time you may have use cases that require showing your Tidy’d code
to others. In order to help you help yourself, _<%= product_name %>_ can
export your Tidy’d HTML to RTF. Discover how to do so in
[this article][use_exportrtf].
<% end %>

