---
title: Window
blurb: The Window menu is oft-overlooked. Refresh your memory here.
layout: template-logo-medium
---
<%= md_links %>

<%= current_page.data.title %>
==============================

<%= pne %> uses standard <%= mac_os %> menus that an experienced or
novice user should find self-explanatory. The menu items’ descriptions
below are limited to the features unique to <%= pne %>.

<div class="image_article" markdown="1">
<div markdown="span">
    ![window menu](all-menu-window)
</div>

The **Window** menu is a completely standard Macintosh Window menu.

Note that the example **Window** menu reflects the updated appearance since
<%= mac_os %> 10.12 (“Sierra”), which enables documents in tabs instead of 
separate windows. See [Using Tabbed Windows][docu-tabbed] in the **Reference**
section.

</div>

