---
title: Help
blurb: Help is better than a phone call away.
layout: template-logo-medium
order: 6
---
<%= partial 'markdown-links' %>
<%= partial 'markdown-images' %>

<%= current_page.data.title %>
==============================

_<%= product_name %>_ uses standard Mac&nbsp;OS&nbsp;X menus that an experienced or
novice user should find self-explanatory. The menu items’ descriptions
below are limited to the features unique to _<%= product_name %>_.

<div class="image_article" markdown="1">
<div markdown="span">
    ![help menu][all-menu-help]
</div>

The **File** menu is a completely standard Macintosh File menu, plus the
addition of the **Show the Quick Tutorial…** menu item, as described in
[Show the Quick Tutorial][docwin-quicktutorial].

</div>

