---
title: File
blurb: A reference to the items in the File menu.
layout: template-logo-medium
order: 2
---
<%= partial 'markdown-links' %>
<%= partial 'markdown-images' %>

<%= current_page.data.title %>
==============================

_<%= product_name %>_ uses standard Mac&nbsp;OS&nbsp;X menus that an experienced or
novice user should find self-explanatory. The menu items’ descriptions
below are limited to the features unique to _<%= product_name %>_.

<div class="image_article" markdown="1">
<div markdown="span">
    ![file menu][all-menu-file]
</div>

<% if target_feature?(:feature_supports_themes) %>
The **File** menu is a completely standard Macintosh File menu, with the added
item [Export as RTF…][use_exportrtf].
<% else %>
The **File** menu is a completely standard Macintosh File menu.
<% end %>

</div>

