---
title: Balthisar Tidy
blurb: A reference to items in the Balthisar Tidy menu.
layout: template-logo-medium
order: 1
---
<%= md_links %>
<%= md_images %>

<% if target_feature?(:feature_advertise_pro) %>
Balthisar Tidy
==============
<% else %>
Balthisar Tidy for Work
=======================
<% end %>

_<%= product_name %>_ uses standard Mac&nbsp;OS&nbsp;X menus that an experienced
or novice user should find self-explanatory. The menu items’ descriptions
below are limited to the features unique to _<%= product_name %>_.

<div class="image_article" markdown="1">
<div markdown="span">
    ![application menu](all-menu-application)
</div>

The application menu is a completely standard Macintosh application menu.
<% if target_feature?(:feature_sparkle) %>
Because you’re using a version of _<%= product_name %>_ from the
**balthisar.com** website, you get one extra feature: **Check for updates…**
will perform an automatic check for a new version of _<%= product_name %>_, and
if you want to, _<%= product_name %>_ will even update itself.
<% end %>

</div>


<% if target_feature?(:feature_supports_service) %>

* * * * *

_<%= product_name %>_ also offers one or more [System Services][service] that
can be accessed via the **Services** submenu, as shown here.

![Services Menu][all-menu-services]

This menu with _<%= product_name %>_’s Services are available in *other*
applications for use there. This lets you do things such as Tidy text using
_<%= product_name %>_ within, e.g., **BBEdit** without leaving BBEdit.

<% end %>


