---
layout: layout-apple_main
---
<%= partial 'markdown-links' %>
<%= partial 'markdown-images' %>

<%= product_name %>
===================


Use _<%= product_name %>_ to sweep away your poor HTML clutter. It will
pretty-format your HTML, fix many HTML problems, diagnose difficult problems,
and generally make your HTML much, much better.

* * *

<div class="table_contents" markdown="1">

[Getting Started][000_tutorial]
 :  A step-by-step walkthrough to getting started with _<%= product_name %>_.

[_<%= product_name %>_ Use Cases][000_use_cases]
 :  Why do I want to use _<%= product_name %>_ anyway?.

[How do I…?][000_howto]
 :  How to accomplish common tasks with _<%= product_name %>_.

<% unless target_feature?(:feature_advertise_pro) %>
[Use Advanced Features of _<%= product_name %>_][000_advanced]
 :  Discover some of _<%= product_name %>_’s advanced features..
<% end %>

[Reference][000_reference]
 :  An overall reference to _<%= product_name %>_.

<% if target_feature?(:feature_advertise_pro) %>
[Get Balthisar Tidy for Work][tidyforwork]
 :  Discover some of the added features included in _Balthisar Tidy for Work_.
<% end %>

[Credits and Acknowledegments][000_ack]
 :  Find out whom else _<%= product_name %>_ owes thanks to.

</div>

* * *
